<template>
<div>
   <h3>Check detilas of member</h3>
   <p>Details</p>
   <v-list dense>
      <v-list-tile>
       <v-list-tile-content>Edited Date:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ getDateAndTime(editedDate) }}
       </v-list-tile-content>
     </v-list-tile>
     <v-list-tile>
       <v-list-tile-content>Name:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ name }}
       </v-list-tile-content>
     </v-list-tile>

     <v-list-tile>
       <v-list-tile-content>Address:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ address }}
       </v-list-tile-content>
     </v-list-tile>

     <v-list-tile>
       <v-list-tile-content>Age:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ age }}
       </v-list-tile-content>
     </v-list-tile>

     <v-list-tile>
       <v-list-tile-content>Phone:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ phone }}
       </v-list-tile-content>
     </v-list-tile>

     <v-list-tile>
       <v-list-tile-content>Pet y/n:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ hasDogs }}
       </v-list-tile-content>
     </v-list-tile>

     <v-list-tile>
       <v-list-tile-content>Skill Tree:</v-list-tile-content>
       <v-list-tile-content class="align-end">
         {{ skill }}
       </v-list-tile-content>
     </v-list-tile>
     </v-list>
</div>
</template>

<script>
import { eventBus } from '../main.js'
import { dateFormat } from '../mixins/dataFormat.js'

export default {
  props: ['name','address','age','phone', 'hasDog','skill'],
  data(){
    return {
      editedDate: null
    }
  },
  computed: {
    hasDogs() {
      return this.hasDog === true? "Yes" : "No"
    }
  },
  created() {
    eventBus.$on('userWasEdited', (date) =>{
      this.editedDate = date
      console.log(this)
    })
  },
  // methods: {
  //    getDateAndTime(date){
  //     if(date !== null){
  //       let hour = date.getHours()
  //       var min = date.getMinutes()
  //       if(String(min).length == 1){
  //         min = String(min).padStart(1,'0');
  //       }
  //       let fullDate = `${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()}`
  //       return `${fullDate} ${hour}:${min}`
  //     }
  //     else{
  //       return null
  //     }
  //   }
  // }
  mixins: [dateFormat]
}
</script>

<style>

</style>