<template>
<div>
   <h1>User Component</h1>
   <p> Name: {{ name }}</p>
   <p> {{ getDateAndTime(createdAt) }}</p>
   <p> {{ displayMixinHere }}</p>
   <hr>
   <v-layout row wrap>
     <v-flex xs12 sm6>
       <UserDetail v-bind:name="name" v-bind:address="address" v-bind:age="age" v-bind:phone="phone" v-bind:hasDog="hasDog" v-bind:skill="skill"></UserDetail>
     </v-flex>
     <v-flex xs12 sm6>
       <UserEdit v-bind:name="name" v-bind:address="address" v-bind:age="age" v-bind:phone="phone" v-bind:hasDog="hasDog" v-bind:skill="skill" @childInfoToParent='parentsGetting'></UserEdit>
     </v-flex>
   </v-layout>
</div>
</template>

<script>
import UserDetail from './UserDetail.vue'
import UserEdit from './UserEdit.vue'
import { dateFormat } from '../mixins/dataFormat.js'

export default {
  components:{
    UserDetail,
    UserEdit
  },
  data(){
    return {
      name: "Hyein",
      address: "415 Fox Avenue",
      age: 28,
      phone: '0222288899',
      hasDog: false,
      skill:['html', 'css', 'js', 'vue'],
      createdAt: null
    }
  },
  created(){
    this.createdAt = new Date()
    console.log(this)
  },
  methods: {
    parentsGetting(user){
      console.log("Hello, i am his parent")
      this.name = user.name
      this.address = user.address
      this.age = user.age
      this.phone = user.phone
      this.hasDog = user.hasDog
      this.skill = user.skill
    },
    // getDateAndTime(date){
    //   if(date !== null){
    //     let hour = date.getHours()
    //     var min = date.getMinutes()
    //     if(String(min).length == 1){
    //       min = String(min).padStart(1,'0');
    //     }
    //     let fullDate = `${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()}`
    //     return `${fullDate} ${hour}:${min}`
    //   }
    //   else{
    //     return null
    //   }
    // }
  },
  computed: {
    displayMixinHere(){
      return this.mixinString + "Got it!"
    }
  },
  mixins: [dateFormat]
}
</script>

<style>

</style>
