<template>
<div>
   <h3>You can edit your profile here</h3>
   <p>Things to edit: {{ name }}</p>
   <v-text-field
    label="Name"
    v-model="user.name"
    placeholder="Placeholder"
    ></v-text-field>

     <v-text-field
    label="Address"
    v-model="user.address"
    placeholder="address"
    ></v-text-field>

     <v-text-field
    label="Age"
    v-model="user.age"
    placeholder="Placeholder"
    ></v-text-field>

     <v-text-field
    label="Phone"
    v-model="user.phone"
    placeholder="Placeholder"
    ></v-text-field>

    <v-radio-group v-model="user.hasDog">
      <v-radio label="has pet" :value="true"></v-radio>
      <v-radio label="no pet" :value="false"></v-radio>
    </v-radio-group>

     <v-text-field
    label="skills"
    v-model="user.skill"
    placeholder="Placeholder"
    ></v-text-field>

    <v-btn @click="changeUser">Edit</v-btn>
</div>
</template>

<script>
import { eventBus } from '../main.js'
export default {
  props:['name','address','age','phone', 'hasDog','skill'],
  data(){
    return {
      user: {}
    }
  },
  created() {
      this.user.name = this.name
      this.user.address = this.address
      this.user.age = this.age
      this.user.phone= this.phone
      this.user.hasDog = this.hasDog
      this.user.skill = this.skill
  },
  methods: {
    changeUser() {
      console.log(this.user)
      this.$emit('childInfoToParent',this.user)
      eventBus.userWasEdited(new Date())
    }
  }
}
</script>

<style>

</style>
