<template>
<div>
   <h1>{{ homeTitle }}</h1>
   <Greeting></Greeting>
</div>
</template>

<script>
export default {
  data(){
      return{
          homeTitle: "Welcom to my first vue"
      }
  }
}
</script>

<style>

</style>
